<div class="user-edit upper-centered mat-elevation-z15 rounded-padding">
  <h1>{{title}}</h1>
  User ID: {{user?.id}}
  <p *ngIf="this.id && !user"><em>Loading...</em></p>
  <div class="shadow">

    <show-message #showMessage></show-message>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Name -->
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" required placeholder="Type a name">
        <mat-error *ngFor="let error of getErrors(form.get('name')!, 'User name')">
          {{error}}
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" required placeholder="Type an email">
        <mat-error *ngFor="let error of getErrors(form.get('email')!, 'Email address')">
          {{error}}
        </mat-error>
      </mat-form-field>

      <!-- Roles Checkboxes -->
      <div class="rolesCheckBoxes">
        <ng-container *ngFor="let role of roles">
          <mat-checkbox matInput formControlName="{{role}}checkBox" (change)="onRoleCbChanged($event, role)">{{role}}</mat-checkbox>
        </ng-container>
      </div>

      <!-- Roles Text -->
      <mat-form-field>
        <mat-label>Roles:</mat-label>
        <input matInput formControlName="roles" required placeholder="Type in role(s)">
        <mat-error *ngFor="let error of getErrors(form.get('roles')!, 'Roles')">
          {{error}}
        </mat-error>
      </mat-form-field>

      <!-- Email Confirmed -->
      <mat-checkbox matInpux formControlName="emailConfirmed">Email Confirmed</mat-checkbox>

      <!-- Lockout Enabled -->
      <mat-checkbox matInput formControlName="lockoutEnabled">Lockout Enabled</mat-checkbox>

      <!-- Set Password -->
      <div>
        <mat-checkbox *ngIf="this.id" matInput formControlName="setPassword" (change)="onSetPasswordCbChanged($event)">Set new password</mat-checkbox>
      </div>

      <!-- Password -->
      <mat-form-field *ngIf="setPasswordChecked">
        <mat-label>Password:</mat-label>
        <input matInput [type]=" showPassword ? 'text' : 'password' " formControlName="password" required placeholder="Enter a new password">
        <mat-icon matSuffix class="pointer" (click)="showHidePassword()">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-error *ngFor="let error of getErrors(form.get('password')!, 'New Password',
                   {'isPasswordRequired' : 'is required when Set new password is checked'})">
          {{error}}
        </mat-error>
      </mat-form-field>

      <div>
        <!--<button mat-flat-button color="primary" (click)="onSubmit()">Save</button> Can be this way if using say, a div -->
        <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">{{ this.id ? "Save" : "Create" }}</button>
        <button mat-flat-button color="secondary" [routerLink]="['/users']">Cancel</button>
      </div>

    </form>
  </div>
</div>
