<h1>{{title}}{{titleSuffix}}</h1>

<p>
  Here's a list of countries in the world.
  <button mat-flat-button color="primary" class="btn-right" *ngIf="viewSource.data && isLoggedIn" [routerLink]="['edit']">
    Add a new Country
  </button>
</p>

<p *ngIf="!viewSource.data"><em>Loading...</em></p>

<app-show-message #showMessage></app-show-message>

<app-query-filter #queryFilter
                  [filterText]="filterQuery"
                  [placeholder]="filterPlaceholder"
                  (filterChange)="onFilterChange($event)"
                  [hidden]="!viewSource.data">
</app-query-filter>

<app-items-table [source]="viewSource"
                 [rowToolTip]="rowTooltip"
                 (sortChange)="onSortChange($event)"
                 (pageChange)="onPageChange($event)"
                 (detailClick)="onDetailClick($event)"
                 (rowClick)="onRowClick($event)"
                 (rowMouseOver)="onRowMouseOver($event)"
                 [hidden]="!viewSource.data">
</app-items-table>

