table.mat-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-right: auto;
}

.btn-right {
    float: right;
}

.filter {
  width: 100%;
  display: flex;
  //border: 1px solid #cdcdcd;
  .filter-btn {
    margin: 5px 0px 0px 10px;
  }
}

.filter .mat-form-field {
    width: 100%;
    flex-grow: 1;
}
