<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !city"><em>Loading...</em></p>

  <p>
    <mat-error *ngIf="form.invalid && form.hasError('isDupeCity')">
      <strong>ERROR</strong>:
      A city with the same <i>name</i>, <i>lat</i>, <i>Lon</i> and <i>country</i> already exists.
    </mat-error>
  </p>

  <!--<div [formGroup]="form" (ngSubmit)="onSubmit()"> this is also a choice -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Name -->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required placeholder="Type a name">
      <mat-error *ngFor="let error of getErrors(form.get('name')!, 'City name')">
        {{error}}
      </mat-error>
    </mat-form-field>

    <!-- Lat -->
    <mat-form-field>
      <mat-label>Latitude:</mat-label>
      <input matInput formControlName="lat" required placeholder="Insert latitude">
      <mat-error *ngFor="let error of getErrors(form.get('lat')!,
                 'Latitude',
                 { 'pattern' : 'requires a positive or negative number with 0-4 decimal values',
                   'min' : 'value must be between -90 and 90',
                   'max' : 'value must be between -90 and 90'})">
        {{error}}
      </mat-error>
    </mat-form-field>

    <!-- Lon -->
    <mat-form-field>
      <mat-label>Longitude:</mat-label>
      <input matInput formControlName="lon" required placeholder="Insert longitude">
      <mat-error *ngFor="let error of getErrors(form.get('lon')!,
                 'Longitude',
                 { 'pattern' : 'requires a positive or negative number with 0-4 decimal values',
                   'min' : 'value must be between -180 and 180',
                   'max' : 'value must be between -180 and 180'})">
        {{error}}
      </mat-error>
    </mat-form-field>

    <!-- Country -->
    <mat-form-field *ngIf="countries">
      <mat-label>Select a Country...</mat-label>
      <mat-select formControlName="countryId" id="countryId">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngFor="let error of getErrors(form.get('lon')!, 'Country')">
        {{error}}
      </mat-error>
    </mat-form-field>

    <div>
      <!--<button mat-flat-button color="primary" (click)="onSubmit()">Save</button> Can be this way if using say, a div -->
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">{{ this.id ? "Save" : "Create" }}</button>
      <button mat-flat-button color="secondary" [routerLink]="['/cities']">Cancel</button>
    </div>
  </form>
  <!--</div>-->
</div>
