<div class="city  mat-elevation-z15 rounded-padding">
  <h1>Details - {{title}}</h1>
  <p *ngIf="this.id && !city"><em>Loading...</em></p>

  <mat-card class="city-card">
    <mat-card-header>
      <div mat-card-avatar class="city-header-image"></div>
      <mat-card-title>{{city?.name}}</mat-card-title>
      <mat-card-subtitle>
        {{city?.countryName }}, 
        Population {{city?.population | number:'1.0-0' }},
        Lat {{city?.lat}},
        Lon {{city?.lon}}
      </mat-card-subtitle>
    </mat-card-header>
    <wcmap></wcmap>
  </mat-card>>

</div>
