<div class="city  mat-elevation-z15 rounded-padding">
  <h1>Details - {{title}}</h1>
  <p *ngIf="this.id && !city"><em>Loading...</em></p>

  <mat-card appearance="outlined" class="city-card">
    <mat-card-header>
      <div mat-card-avatar class="city-header-image"></div>
      <mat-card-title>{{city?.name}}</mat-card-title>
      <mat-card-subtitle>
        {{city?.countryName }},
        Population {{city?.population | number:'1.0-0' }},
        Lat {{city?.lat}},
        Lon {{city?.lon}}
        <ng-container *ngIf="city?.capital === 'primary'">, Capital of {{city?.countryName}}</ng-container>
        <ng-container *ngIf="city?.capital === 'admin'">, Capital of {{city?.adminRegionName}}</ng-container>
        <ng-container *ngIf="city?.capital === 'minor'">, Local Capital</ng-container>
      </mat-card-subtitle>
    </mat-card-header>
    <wcmap></wcmap>
  </mat-card>>

</div>
