.home-cover {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
}

.shadow {
    padding: 0px 0px;
}

.photoCredit {
    font-size: 10px;
    display: block;
    text-align: center;
    color: darkslateblue;
}
