<h1>WorldCities</h1>

<p class="welcomeMessage">
  A progressive SPA (PWA) web application to sandbox ASP.NET Core 9, Angular, Material Design,
  Entity Framework, EF Identity, MSSQL and PostgreSQL Databases. This application can be configured to
  run locally, on a Windows hosting service, or on Amazon Web Services using S3, EC2, RDS, and CloudWatch.
</p>
<p class="welcomeSubMessage">
  It also excercises a variety of patterns such as security token with rotating refresh tokens.
</p>
<p>
  Guests are allowed to view city and country information.
  Users who are registered by joining are allowed to add and edit.
</p>
<p>
  Data is sourced from the free offerings at <a href="http://simplemaps.com" target="_blank">simplemaps</a>.
  This progresive SPA (or PWA) is a sandbox.  Not responsible for any form of buzzkill.
  <!--
  <mat-icon>mood_good</mat-icon>
  -->
</p>

<div class="mat-elevation-z8">
  <img src="/assets/img/WorldCities.jpg" alt="WorldCities" class="home-cover" />
</div>
<a href="http://pixabay.com " class="photoCredit" target="_blank">Photo by Pixabay</a>
