<h1>WorldCities</h1>

<p class="welcomeMessage">
  A sample web application to demonstrate
  how to interact with ASP.NET Core 6, Angular, Material,
  Entity Framework Core and a SQL Database.
</p>
<p class="welcomeSubMessage">
  It also demontrates the use of a security token
  with rotating refresh tokens.
</p>
<p>
  Guests are allowed to view city and country information.
  Users who are registered by joining are allowed to add and edit.
</p>
<p>
  Data is sourced from the free offerings at <a href="http://simplemaps.com" target="_blank">simplemaps</a>.
  This progresive SPA (or PWA) is a sandbox.  Not responsible for any form of buzzkill<mat-icon>mood_good</mat-icon>
</p>

<div class="mat-elevation-z15">
  <img src="/assets/img/WorldCities.jpg" alt="WorldCities" class="home-cover" />
</div>
