<mat-table [dataSource]="source.data"
           class="mat-elevation-z8"
           [hidden]="!source"
           matSort
           (matSortChange)="sortChange.emit($event)"
           [matSortActive]="source.defaultSortColumn"
           [matSortDirection]="source.defaultSortOrder">

  <ng-container *ngFor="let col of source.schema; let i = index" [matColumnDef]="col.key">

    <ng-container *ngIf="((col.type === 'button') || (col.noSort)) else sortedHeaderTemplate">  <!-- Don't sort on button columns -->
      <mat-header-cell class="mat-header-cell" *matHeaderCellDef [title]="col.description ?? ''">{{col.label}}</mat-header-cell>
    </ng-container>
    <ng-template #sortedHeaderTemplate>
      <mat-header-cell *matHeaderCellDef mat-sort-header [title]="col.description ?? ''">{{col.label}}</mat-header-cell>
    </ng-template>

    <mat-cell *matCellDef="let item">
      <div [ngSwitch]="col.type">

        <ng-container *ngSwitchCase="'button'">
          <button mat-flat-button color="primary"
                  [title]="col.toolTip + item[col.itemName!]"
                  (click)="$event.stopPropagation(); onDetailClick(col.key, item)">
            {{col.label}}
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="'link'">
          <ng-container *ngIf="col.authorized else detailTemplate">   <!-- Link available if authorized -->
            <a [title]="col.toolTip + item[col.itemName!]"
               routerLink="()"
               (click)="$event.stopPropagation(); onDetailClick(col.key, item);">
              <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
            </a>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
        </ng-container>

        <ng-template #detailTemplate>
          {{col.pipeToNumber ? (item[col.key] | number:'1.0-0') : (col.join ? (item[col.key] | join:col.join) : item[col.key])}}
        </ng-template>

      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="source.modelColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: source.modelColumns;"
           (mouseover)="onRowMouseOver($event, row)"
           [title]="rowToolTip"
           (click)="$event.stopPropagation(); onRowClick(row)">
  </mat-row>
</mat-table>
