<h1>{{title}}{{titleSuffix}}</h1>

<p>
  Here's a list of cities in the world.
  <button mat-flat-button color="primary" class="btn-right" *ngIf="viewSource.data && isLoggedIn" [routerLink]="['edit']">
    Add a new City
  </button>
</p>

<p *ngIf="!viewSource.data"><em>Loading...</em></p>

<app-show-message #showMessage></app-show-message>

<app-query-filter #queryFilter
                  [filterText]="filterQuery"
                  [placeholder]="filterPlaceholder"
                  (filterChange)="onFilterChange($event)"
                  [hidden]="!viewSource.data">
</app-query-filter>

<app-items-table [source]="viewSource"
                 [rowToolTip]="rowTooltip"
                 (sortChange)="onSortChange($event)"
                 (detailClick)="onDetailClick($event)"
                 (rowClick)="onRowClick($event)"
                 (rowMouseOver)="onRowMouseOver($event)"
                 [hidden]="!viewSource.data">
</app-items-table>

<div [hidden]="!viewSource.data">
  <mat-paginator [hidden]="!viewSource.data"
                 (page)="onPageChange($event)"
                 [pageSize]="15"
                 [pageSizeOptions]="[10, 15, 20, 50, 100, 500, 1000, 5000]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
