<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>
        home
      </mat-icon>
    </button>

    <a mat-flat-button color="primary" [routerLink]="['/cities']">
      Cities
    </a>

    <a mat-flat-button color="primary" [routerLink]="['/countries']">
      Countries
    </a>

    <a *ngIf="isAdministrator" mat-flat-button color="primary" [routerLink]="['/users']">
      Users
    </a>

    <span class="separator"></span>

    <div class="username" *ngIf="displayName" color="primary">
      <label class="welcome-label">Welcome,</label>
      <button mat-button class="welcome-name" [matMenuTriggerFor]="menu">{{ displayName }}<mat-icon>arrow_drop_down</mat-icon></button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Edit Profile</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/register']">
      Join
    </a>

    <a *ngIf="!isLoggedIn" mat-flat-button color="primary" (click)="onLogin()">
      Login
    </a>
    <a *ngIf="isLoggedIn" mat-flat-button color="primary" (click)="onLogout()">
      Logout
    </a>
  </mat-toolbar>
</header>
