table.mat-mdc-table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td.mat-mdc-cell {
    button.mat-mdc-unelevated-button {
        line-height: 20px;
        min-width: 20px;
        padding: 0px 10px;
        font-weight: 400;
        font-size: 12px;
    }
}
/*
.btn-delete {
    line-height: 25px;
    min-width: 40px;
    padding: 0px 10px;
}

.btn-edit {
  line-height: 25px;
  min-width: 20px;
  padding: 0px 10px;
}
*/
