<h1>Users</h1>

<p>
  Here's a list of Users.  For use by administrators only.
  <button mat-flat-button color="primary" class="btn-add" *ngIf="items" [routerLink]="['edit']">
    Add a new User
  </button>
</p>

<p *ngIf="!items"><em>Loading...</em></p>

<div class="filter">
  <app-filter-query placeholder="Filter by user name (or part of it)..."
                    (search)="loadData($event)" [hidden]="!items">
  </app-filter-query>
</div>

<app-show-message></app-show-message>

<table mat-table [dataSource]="items"
       class="mat-elevation-z8"
       [hidden]="!items"
       matSort (matSortChange)="loadData()"
       [matSortActive]="defaultSortColumn"
       [matSortDirection]="defaultSortOrder">

  <!-- Id Column
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let user">{{user.id}}</td>
  </ng-container>
    -->
  <!-- Delete Button Column note: can now get rid of class in the flat buttons... -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let user">
      <button mat-flat-button color="primary" (click)="onDeleteClicked(user.id)" class="btn-delete">Delete</button>
    </td>
  </ng-container>

  <!-- Eddit Button Column note: can now get rid of class in the flat buttons...-->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let user">
      <button mat-flat-button color="primary" class="btn-edit" [routerLink]="['edit', user.id]">Edit</button>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let user">{{user.name}}</td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let user">{{user.email}}</td>
  </ng-container>

  <!-- Roles Column-->
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
    <td mat-cell *matCellDef="let user">{{user.roles}}</td>
  </ng-container>

  <!-- EmailConfirmed Column-->
  <ng-container matColumnDef="emailConfirmed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail Confirmed</th>
    <td mat-cell *matCellDef="let user">{{user.emailConfirmed}}</td>
  </ng-container>

  <!-- LockoutEnabled Column-->
  <ng-container matColumnDef="lockoutEnabled">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lockout Enabled</th>
    <td mat-cell *matCellDef="let user">{{user.lockoutEnabled}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="modelColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: modelColumns;"></tr>"
</table>

<!-- Pagination directive -->
<!-- hidden it's working, again... see above'-->
<mat-paginator [hidden]="!items"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 15, 20, 50]"
               showFirstLastButtons>
</mat-paginator>
