<div class="register">
  <h1>Register New Login</h1>
  <div class="shadow">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <p>
        <mat-error *ngIf="registerResult && !registerResult.success">
          <strong>Error</strong>: {{registerResult}}
        </mat-error>
      </p>

      <!-- Name -->
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" required placeholder="Insert user name">
        <mat-error *ngFor="let error of getErrors(form.get('name')!, 'Name')">
          {{error}}
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" required placeholder="Insert email">
        <mat-error *ngFor="let error of getErrors(form.get('email')!, 'Email')">
          {{error}}
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="password" required placeholder="Insert Password">
        <mat-error *ngFor="let error of getErrors(form.get('password')!, 'Password')">
          {{error}}
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Join</button>
        <button mat-flat-button color="secondary" [routerLink]="['/']">Cancel</button>
      </div>
    </form>
  </div>
</div>
