<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <a mat-flat-button color="primary" [routerLink]="['/cities']">
      Cities
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/countries']">
      Countries
    </a>
    <span class="separator"></span>
    <div class="username" *ngIf="displayName" color="primary">
      <label class="welcome-label">Welcome,</label>
      <label>{{ displayName }}</label>
    </div>
    <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/register']">
      Join
    </a>
    <a *ngIf="!isLoggedIn" mat-flat-button color="primary" [routerLink]="['/login']">
      Login
    </a>
    <a *ngIf="isLoggedIn" mat-flat-button color="primary" (click)="onLogout()">
      Logout
    </a>
  </mat-toolbar>
</header>
