.separator {
    flex: 1 1 auto;
    
}


.username {
  margin: 0px 5px;

  label {
    display: block;
    text-align: center;
  }

  .welcome-label {
    font-size: 12px;
    height: 18px;
  }

  .welcome-name {
    font-size: 19px;
    //height: 17px;
  }
}
